<style>
        body {
            padding: 20px;
            background-color: #f2f2f2; /* Fundo cinza claro */
        }
        .centralizado {
            text-align: center;
        }
        .formacao, .experiencia {
            margin: 10px 0;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff; /* Fundo branco para destacar conteúdo */
        }
        .formacao input, .experiencia input, .experiencia textarea {
            width: 100%;
            margin-bottom: 5px;
        }
        .add-button {
            background-color: #4CAF50;
            color: black;
            border: none;
            padding: 10px;
            font-size: 16px;
            cursor: pointer;
            margin-bottom: 10px;
        }
        .botoes .botao {
            margin: 10px;
        }
        .photo {
            display: block;
            margin: 0 auto;
            width: 200px;
            height: auto;
            border-radius: 50%;
        }
        img {
            width: 100px;
            border-radius: 50%;
            display: block;
            margin: 0 auto 20px;
        }
        .section {
            display: none;
        }
        .section.active {
            display: block;
        }
        @media print {
            .no-print {
                display: none;
            }
            .print-visible {
                display: block !important;
            }
        }
    </style>